@import url(https://fonts.googleapis.com/css?family=Roboto:500);
	
.button {
  display: inline-block;
	font-size: 14px;
	margin: 1px 2px;
  padding: 10px 15px;
	font-family: "Roboto", sans-serif;
	position: relative;
	user-select: none;
	border: 0;
// 	box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
	transition: all 200ms ease-in-out;
	color: #e1e1e1;
	cursor: pointer;
	overflow: hidden;
	&:hover {
	  background: rgba(244, 67, 54, .9);
	  color: white;
		// box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.3);
		// transform: translateY(-5px); 
	}
	&:focus {outline: none;}
  &.active {
    color: rgb(244, 67, 54);
    background: rgba(158,158,158,.2);
    // color: white;
  }
}

.buttons {
  display: block;
  margin: 20px 0;}
		
.taint {
	display: block;
	position: absolute;
	background: rgba(130, 177, 255, 0.5);
	border-radius: 100%;
	transform: scale(0);
	&.drop {
		animation: ripple 0.65s linear;}}

