@import url(https://fonts.googleapis.com/css?family=Roboto:400);
/*****************************************************************************/
/* General: Style */
/*****************************************************************************/
#intro {
  max-width: 740px;
  padding: 0 20px;
  width: 100%;
  margin: 90px auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

#intro p {
  margin-top: 29px;
  --x-height-multiplier: 0.35;
  --baseline-multiplier: 0.179;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.58;
  letter-spacing: -.003em; }

#pages {
  position: relative; }

.page-container {
  width: 50%;
  display: inline-block;
  zoom: 0.5; }

.page-container #old-page {
  position: absolute;
  top: 0; }

.grey {
  color: #616161; }

#filter-card {
  height: 200px;
  padding-top: 25px;
  margin: 40px 0; }

#new-page {
  font-family: "Roboto", sans-serif; }

#new-page a, #new-page a:-webkit-any-link {
  color: unset;
  text-decoration: unset;
  cursor: auto; }

#search-title {
  font-size: 21px;
  color: rgba(0, 0, 0, 0.87); }

.jumbotron-container {
  width: 80%;
  margin: 100px auto; }

.jumbotron {
  background: #fff;
  padding: 50px;
  min-height: 2020px;
  margin-bottom: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

/*****************************************************************************/
/* General: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Button: Style */
/*****************************************************************************/
.button {
  flex-grow: 1;
  font-size: 16px;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  position: relative;
  text-align: center;
  user-select: none;
  border: 0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  font-family: "Roboto", sans-serif; }

.button:hover {
  background: rgba(244, 67, 54, 0.9);
  color: white; }

.button:focus {
  outline: none; }

.button.active {
  color: #f44336;
  background: rgba(158, 158, 158, 0.2); }

.buttons {
  width: 100%;
  display: flex; }

/*****************************************************************************/
/* Button: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Card: Style */
/*****************************************************************************/
.card {
  padding: 10px 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.card .title:first-child {
  margin-top: 15px; }

.title {
  display: block;
  width: 100%;
  padding: 0;
  margin: 20px 0 15px;
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
  background-color: #3F51B5;
  border: 0;
  padding-left: 15px; }

.row {
  display: flex;
  flex-wrap: nowrap; }

.column {
  display: flex;
  flex-direction: column; }

.row > div {
  flex: 1; }

.row div.column-one-third {
  flex: 1; }

.row div.column-two-thirds {
  flex: 2; }

.row div.column-one-half {
  flex: 1; }

/*****************************************************************************/
/* Card: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Dropdown: Style */
/*****************************************************************************/
.dropdown-menu {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  -webkit-transition: max-height 0.28s ease;
  transition: max-height 0.28s ease;
  z-index: 100;
  max-heigt: 200px; }

.dropdown-menu .dropdown-transition-enter {
  opacity: 0; }

.dropdown-menu .dropdown-transition-enter.dropdown-transition-enter-active {
  opacity: 1;
  transition: opacity .28s ease-in; }

.dropdown-menu .dropdown-transition-leave {
  opacity: 1; }

.dropdown-menu .dropdown-transition-leave.dropdown-transition-leave-active {
  opacity: 0;
  transition: opacity .28s ease-in; }

.dropdown-transition-height {
  transition: height .28s ease-in-out; }

.dropdown-list, .dropdown-item {
  list-style: none;
  margin: 0;
  padding: 0; }

.dropdown-list {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  max-height: 200px; }

.dropdown-item {
  padding: 5px 10px;
  cursor: pointer; }

.dropdown-item:hover {
  background: #337ab7;
  color: #fff; }

/*****************************************************************************/
/* Dropdown: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Textfield: Style */
/*****************************************************************************/
.textfield {
  position: relative;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 15px;
  padding: 18px 0 20px; }

.textfield .icon-button {
  padding: 0;
  width: 25px;
  height: 22px; }

.textfield-textbox {
  min-height: 160px;
  line-height: 1.4;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.textfield-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit; }

.textfield-input:focus {
  outline-offset: -2px; }

.textfield-label {
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  color: #3f51b5;
  font-size: 12px;
  top: 4px;
  visibility: visible;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left; }

.textfield-label:after {
  background-color: #3f51b5;
  top: 40px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden; }

.isFocused .textfield-input {
  outline: none; }

.isFocused .textfield-label:after {
  left: 0;
  visibility: visible;
  width: 100%; }

/*****************************************************************************/
/* Textfield: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Header: Style */
/*****************************************************************************/
.mdl-layout__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  height: 64px;
  position: relative;
  z-index: 3;
  background-color: #3f51b5;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.mdl-layout-spacer {
  flex-grow: 1; }

.mdl-layout__header-row > * {
  flex-shrink: 0; }

.mdl-navigation {
  height: 64px;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap; }

.mdl-navigation__link {
  color: #fff;
  line-height: 64px;
  padding: 0 17px;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  font-size: 14px; }

.mdl-navigation__link:last-child {
  padding-right: 40px; }

.mdl-layout-title {
  position: relative;
  font-size: 22px;
  padding-left: 40px;
  line-height: 64px;
  letter-spacing: .02em;
  box-sizing: border-box; }

/*****************************************************************************/
/* Header: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Table: Style */
/*****************************************************************************/
.group-table {
  cursor: pointer;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  outline: none;
  -webkit-user-select: none; }

.header-row {
  background: #f44336;
  line-height: 36px;
  height: 36px; }

.body-row {
  height: 40px; }

.body-row:hover {
  background-color: #eeeeee; }

.body-row:hover .bold {
  font-weight: 600; }

.table-transition-enter {
  opacity: 0; }

.table-transition-enter.table-transition-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.table-transition-leave {
  opacity: 1; }

.table-transition-leave.table-transition-leave-active {
  opacity: 0;
  transition: opacity .5s ease-in; }

.table-transition-height {
  transition: height .5s ease-in-out; }

.header-row div[data-col="details"], .body-row div[data-col="details"] {
  width: calc(67% - 50px); }

.header-row div[data-col="status"], .body-row div[data-col="status"] {
  text-align: center;
  width: 50px; }

.header-row div[data-col="title"], .body-row div[data-col="title"] {
  width: 33%; }

.header-cell {
  height: 36px;
  display: inline-block;
  text-transform: uppercase;
  text-indent: 4px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  text-indent: 8px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.header-cell i.icon {
  width: 16px;
  height: 16px; }

.row-cell {
  display: inline-block;
  text-indent: 4px;
  height: 40px;
  line-height: 40px;
  max-height: 40px;
  min-height: 40px;
  font-size: 14px;
  color: #616161;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.row-cell[data-col="title"] {
  overflow: visible;
  color: black; }

.row-cell a {
  text-decoration: none; }

.body-row .row-cell:first-child, .header-row div:first-child {
  padding-left: 16px; }

.body-row .row-cell:last-child, .header-row div:last-child {
  padding-right: 16px; }

.column-content {
  display: block;
  position: relative;
  background-color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px; }

.right-items {
  float: right;
  background-color: inherit;
  line-height: 0;
  text-indent: 0; }

.card .group-table {
  text-align: center; }

.card .header-row {
  background: unset;
  line-height: 15px;
  height: 15px; }

.card .header-cell {
  height: 15px;
  color: #f44336;
  text-transform: unset;
  font-weight: unset;
  width: 25%; }

.card .body-row {
  height: 30px; }

.card .row-cell {
  width: 25%;
  height: 32px;
  color: black;
  font-size: 16px;
  line-height: 30px;
  max-height: 32px;
  min-height: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.card .card-transition-enter {
  opacity: 0;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.24), 0 0 50px 13px rgba(0, 0, 0, 0.19); }

.card .card-transition-enter.card-transition-enter-active {
  opacity: 1;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.24), 0 0 50px 13px rgba(0, 0, 0, 0.19);
  transition: opacity .5s ease-in, box-shadow .5s ease-in; }

.card .card-transition-leave {
  opacity: 1;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.24), 0 0 50px 13px rgba(0, 0, 0, 0.19); }

.card .card-transition-leave.card-transition-leave-active {
  opacity: 0;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.24), 0 0 50px 13px rgba(0, 0, 0, 0.19);
  transition: opacity .5s ease-in, box-shadow .5s ease-in; }

.card-transition-height {
  transition: height .5s ease-in-out; }

/*****************************************************************************/
/* Table: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Tooltip: Style */
/*****************************************************************************/
.tooltip {
  transform: scale(0) translateX(-50%);
  transform-origin: top center;
  z-index: 999;
  background: rgba(97, 97, 97, 0.9);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  max-width: 170px;
  position: absolute;
  line-height: 12px;
  font-size: 12px;
  padding: 10px;
  top: 30px;
  left: 50%;
  text-align: center; }

.tooltip.is-active {
  animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards; }

@keyframes pulse {
  0% {
    transform: scale(0) translateX(-50%);
    opacity: 0; }
  50% {
    transform: scale(0.99) translateX(-50%); }
  100% {
    transform: scale(1) translateX(-50%);
    opacity: 1;
    visibility: visible; } }

/*****************************************************************************/
/* Tooltip: Style */
/*****************************************************************************/
/*****************************************************************************/
/* IconButton: Style */
/*****************************************************************************/
.icon-button {
  display: inline-block;
  position: relative;
  padding: 8px;
  outline: none;
  user-select: none;
  cursor: pointer;
  z-index: 0;
  line-height: 1;
  text-align: center;
  width: 35px;
  height: 40px;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.icon-button a {
  color: unset; }

.icon-button i.icon {
  font-size: 18px;
  line-height: 24px;
  text-align: center; }

.icon-button:hover {
  color: #f44336; }

.icon-button[disabled] {
  color: #e0e0e0;
  pointer-events: none;
  cursor: not-allowed; }

.icon-button[disabled]:hover {
  color: #e0e0e0; }

/*****************************************************************************/
/* IconButton: Style */
/*****************************************************************************/
